* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    font-size: 16px;
}
canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}
#copyright {
    position: fixed;
    text-align: center;
    margin: .5rem;
    right: 0;
    bottom: 0;
    color: white;
    font-family: consolas;
}
#copyright a {
    color: aqua;
}
.mobile {
    display: none;
}
#header {
    color: white;
    position: fixed;
    top: 0;
    width: 30rem;
    left: 50%;
    margin-left: -15rem;
    text-align: center;
}
.selectable-searchbox {
    display: inline-block;
}
.selectable-searchbox select {
    position: absolute;
    width: 10.7rem;
    height: 25rem;
    margin-left: -10.7rem;
    margin-top: 1.6rem;
    outline: none;
    border:.1rem solid #999;
}
.selectable-searchbox option {
    padding-left:.5rem;
}
.selectable-searchbox input {
    width: 10rem;
    height: 1.5rem;
    padding-left: .5rem;
    outline: none;
    border: .1rem solid #999;
}
#animationList {
    width: 8rem;
    height: 1.5rem;
    padding-left: .2rem;
}
.message {
    display: none;
    position: fixed;
    width: 16rem;
    min-height: 2rem;
    left: 50%;
    top: 10%;
    margin-left: -10rem;
    padding: 2rem;
    background: #f5f5f5b4;
    border-radius: 1rem;
    word-break: break-all;
    color: #3d3d3d;
    box-shadow: 0 0 2rem #555555;
    letter-spacing: .02rem;
}
@supports (-ms-ime-align: auto) {
    .selectable-searchbox select {
        margin-left: -5.35rem;
        margin-top: 0;
    }
}
svg.method {
    width: 4rem;
    height: 4rem;
    margin: .5rem;
    fill: #f8f8f8;
}
#tool {
    stroke-dasharray: 2000;
    animation: outline_tool 2s;
}
#tools {
    position: absolute;
    top: 0;
    left: -10rem;
    transition: .2s;
}
#tools:hover {
    left: -5rem;
    direction: rtl;
}
#reset {
    position: absolute;
    left: 0;
    bottom: 0;
    stroke-dasharray: 5000;
    animation: outline_reset 2s;
}
.github-corner svg {
    position: absolute;
    width: 5rem;
    height: 5rem;
    top: 0;
    right: 0;
    fill: #151513;
    color: white;
    stroke-dasharray: 860;
    animation: outline_github-corner 2s;
}
svg.method:hover {
    fill: aqua;
    transition:.2s;
}
svg.method:active {
    fill: blue;
    transition:.1s;
}
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}
#screenshot {
    display: none;
    z-index: 1;
    cursor: crosshair;
}
#screenshot>img {
    position: absolute;
    width: 100%;
    height: 100%;
}
#screenshot::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    mask: linear-gradient(to right, #000 var(--sx), #0000 var(--sx), #0000 var(--ex), #000 var(--ex)), linear-gradient(to bottom, #000 var(--sy), #0000 var(--sy), #0000 var(--ey), #000 var(--ey));
    -webkit-mask: linear-gradient(to right, #000 var(--sx), #0000 var(--sx), #0000 var(--ex), #000 var(--ex)), linear-gradient(to bottom, #000 var(--sy), #0000 var(--sy), #0000 var(--ey), #000 var(--ey));
    background: #0008;
}
@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0)
    }
    20%,
    60% {
        transform: rotate(-25deg)
    }
    40%,
    80% {
        transform: rotate(10deg)
    }
}
@keyframes outline_reset {
    0% {
        stroke: white;
        stroke-width: .5rem;
        stroke-dashoffset: 5000;
        fill-opacity: 0;
    }
    80% {
        stroke-width: .5rem;
        stroke-dashoffset: 0;
        fill-opacity: 0;
    }
    100% {
        stroke: white;
        stroke-width: 0;
        fill-opacity: 1;
    }
}
@keyframes outline_tool {
    0% {
        stroke: white;
        stroke-width: .5rem;
        stroke-dashoffset: 2000;
        fill-opacity: 0;
    }
    80% {
        stroke-width: .5rem;
        stroke-dashoffset: 0;
        fill-opacity: 0;
    }
    100% {
        stroke: white;
        stroke-width: 0;
        fill-opacity: 1;
    }
}
@keyframes outline_share{
    0%{
        stroke: white;
        stroke-width: .5rem;
        stroke-dashoffset: 5677;
        fill-opacity: 0;
    }80%{
        stroke-width: .5rem;
        stroke-dashoffset: 0;
        fill-opacity: 0;
    }100%{
        stroke: white;
        stroke-width: 0;
        fill-opacity: 1;
    }
}
@keyframes outline_github-corner {
    0% {
        stroke: white;
        stroke-width: .1rem;
        stroke-dashoffset: 860;
        fill-opacity: 0;
    }
    80% {
        stroke-width: .1rem;
        stroke-dashoffset: 0;
        fill-opacity: 0;
    }
    100% {
        stroke: white;
        stroke-width: 0;
        fill-opacity: 1;
    }
}
#scaler {
    -webkit-appearance: slider-vertical;
    position: fixed;
    width: 1rem;
    height: 24rem;
    left: .5rem;
    top: 50%;
    margin-top: -12rem;
    background: whitesmoke;
}
@media (max-width:500px) {
    html{
        font-size: 12px;
    }
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
    #tools {
        left: 0 !important;
    }
    #share {
        stroke-dasharray: 5677;
        animation: outline_share 2s;
    }
}
.spinner {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 85%;
    margin-left: -50px;
    margin-top: -50px;
}
.container1>div,
.container2>div,
.container3>div {
    width: 30px;
    height: 30px;
    background-color: aqua;

    border-radius: 100%;
    position: absolute;
    -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
    animation: bouncedelay 1.2s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.spinner .spinner_container {
    position: absolute;
    width: 100%;
    height: 100%;
}
.container2 {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
.container3 {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}
.circle1 {
    top: 0;
    left: 0;
}
.circle2 {
    top: 0;
    right: 0;
}
.circle3 {
    right: 0;
    bottom: 0;
}
.circle4 {
    left: 0;
    bottom: 0;
}
.container2 .circle1 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
.container3 .circle1 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
.container1 .circle2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}
.container2 .circle2 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}
.container3 .circle2 {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}
.container1 .circle3 {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}
.container2 .circle3 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}
.container3 .circle3 {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}
.container1 .circle4 {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}
.container2 .circle4 {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}
.container3 .circle4 {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}
@-webkit-keyframes bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0.0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}
@keyframes bouncedelay {
    0%,
    80%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}